body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: rgb(27, 190, 95);
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.card {
  background-color: rgb(112, 190, 133);
  padding: 20px;
  margin-top: 20px;
}